apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - route.yaml

# Vault server is deployed via Helm (see bootstrap script)
# values.yaml is used with: helm install vault hashicorp/vault -n vault -f values.yaml
